# JWT Configuration
JWT_SECRET=123456
JWT_EXPIRES_IN=24h

# PostgreSQL Databases URLs (Local)
USERS_DB_URL="postgresql://postgres:123456@localhost:5432/users_db"
SUBSCRIPTIONS_DB_URL="postgresql://postgres:123456@localhost:5432/subscriptions_db"
MUSIC_DB_URL="postgresql://postgres:123456@localhost:5432/music_db"
LIKES_DB_URL="postgresql://postgres:123456@localhost:5432/likes_db"
MATCHES_DB_URL="postgresql://postgres:123456@localhost:5432/matches_db"
CHAT_DB_URL="postgresql://postgres:123456@localhost:5432/chat_db"

# Server Configuration
PORT=3000
NODE_ENV=development
